/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.hit {
  color: #1c7430;
}

.miss {
  color: #b21f2d;
}

td.coordinates {
  background-color: #FFA34A;
  border: transparent;
}

.input {
  color: ButtonFace;
}

.ship-hit {
  color: #288FA8;
}

.jumbotron {
  background-color: #81D5EB;
  background-size: cover;
  height: 100%;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.bg-orange {
  background-color: #FFA34A;
}

td {
  width: 36px;
  height: 36px;
  border: 1px solid #5A94A3;
  background-color: #7DD4EB;
}

td.ship {
  background-color: cornflowerblue;
}

table.side {
  float: left;
}

table.right {
  float: right;
}

table.center {
  margin-left:auto;
  margin-right:auto;
}

table.bordered {
  border: 2px solid rgba(186, 230, 213, 0.37);
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
