@page
@model WebApp.Pages_BattleShipsSaves.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BattleShipsSave</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BattleShipsSave.Id" />
            <div class="form-group">
                <label asp-for="BattleShipsSave.Player1JsonString" class="control-label"></label>
                <input asp-for="BattleShipsSave.Player1JsonString" class="form-control" />
                <span asp-validation-for="BattleShipsSave.Player1JsonString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BattleShipsSave.Player2JsonString" class="control-label"></label>
                <input asp-for="BattleShipsSave.Player2JsonString" class="form-control" />
                <span asp-validation-for="BattleShipsSave.Player2JsonString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BattleShipsSave.SaveName" class="control-label"></label>
                <input asp-for="BattleShipsSave.SaveName" class="form-control" />
                <span asp-validation-for="BattleShipsSave.SaveName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BattleShipsSave.Height" class="control-label"></label>
                <input asp-for="BattleShipsSave.Height" class="form-control" />
                <span asp-validation-for="BattleShipsSave.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BattleShipsSave.Width" class="control-label"></label>
                <input asp-for="BattleShipsSave.Width" class="form-control" />
                <span asp-validation-for="BattleShipsSave.Width" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BattleShipsSave.Player1Turn" /> @Html.DisplayNameFor(model => model.BattleShipsSave.Player1Turn)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
