@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center">
    
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Welcome to BattleShips!</h1>
            <p class="lead">Human vs Human - A classical game of Battleships between two human players. The ships are predetermined.
                Human vs Human Custom - A custom game of Battleships between two human players. Each player chooses their ship sizes.</p>
        </div>
    </div>

    <div class="list-group">
        <a role="button" class="list-group-item list-group-item-action btn btn-outline-primary" asp-page="/NewGameHuman">New Game - Human vs Human</a>
        <a role="button" class="list-group-item list-group-item-action btn btn-outline-primary" asp-page="/NewGameHumanCustom">New Game - Human vs Human Custom</a>
        <a role="button" class="list-group-item list-group-item-action btn btn-outline-primary" asp-page="/SavedGames">Load Game</a>
    </div>
</div>