@page
@model WebApp.Pages.NewGameHumanCustom

@{
    ViewData["Title"] = "New game";
}

<div class="text-center">
    <h2>New Game</h2>
    <form method="post">
        <div>
            <h1 class="display-4">Choose board dimensions</h1>
            <br/>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="col">
                <label asp-for="Height">Height</label>
                <input asp-for="Height" class="form-control" placeholder="Height" required>
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Width">Width</label>
                <input asp-for="Width" class="form-control" placeholder="Width" required>
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
        </div>    
        <div class="form-group">
            <br/>
            <div class="form-row">
                <input asp-for="GameName" class="form-control" placeholder="Game name" required>
                <span asp-validation-for="GameName" class="text-danger">
                </span>
            </div>
        </div>
        
        <div>
            <h1 class="display-4">Create custom ships</h1>
        </div>
        
        <div class="form-row">
            <div class="col">
                <h3>Player 1 Ships</h3>
            </div>

            @for (var i = 0; i < 5; i++)
            {
                <div class="col">
                    <input asp-for="Player1Ships[i].Name" placeholder="Ship name">
                    <span asp-validation-for="Player1Ships[i].Name" class="text-danger"></span>

                    <input asp-for="Player1Ships[i].Width" placeholder="Ship width">
                    <span asp-validation-for="Player1Ships[i].Width" class="text-danger"></span>
                </div>
            }
        </div>
        
        <div class="form-row">
            <div class="col">
                <h3>Player 2 Ships</h3>
            </div>
            @for (var i = 0; i < 5; i++)
            {
                <div class="col">
                    <input asp-for="Player2Ships[i].Name" placeholder="Ship name">
                    <span asp-validation-for="Player2Ships[i].Name" class="text-danger"></span>

                    <input asp-for="Player2Ships[i].Width" placeholder="Ship width">
                    <span asp-validation-for="Player2Ships[i].Width" class="text-danger"></span>
                </div>
            }
        </div>
        <div>
            <h1 class="display-4">Additional options</h1>
        </div>
        <label asp-for="ShipsCanTouch" class="control-label"></label>
        <input asp-for="ShipsCanTouch">
        <button type="submit" class="btn btn-outline-success btn-block">Start</button>
    </form>
</div>