@page
@model WebApp.Pages.SavedGames

@{
    ViewData["Title"] = "Load game";
}

<div class="container text-center">
    <h1>Load Game</h1>
    <form method="post">
        <div class="list-group">
            @foreach (var save in Model.BattleShipsSaves)
            {
                <div class="d-flex w-100 justify-content-between">
                    <a asp-page="/PlayGame" class="list-group-item list-group-item-action" asp-route-id="@save.Id">@Model.CreateDisplayName(save)</a>
                    <button class="btn-danger btn list-group-item list-group-item-action" type="submit" asp-page-handler="DeleteGame" asp-route-id="@save.Id">Delete</button>
                </div>
            }
        </div>
    </form>
</div>

