@model string

<div class="form-group">
    <br/>
    <div class="form-row">
        <input asp-for="@Model" class="form-control" placeholder="Game name" required>
        <span asp-validation-for="@Model" class="text-danger">
        </span>
    </div>
</div>